[project]
requires-python = ">=3.10, <3.11"

[tool.poetry]
name = "coffee"
version = "0.3.0"
description = ""
authors = ["MLCommons AI Safety <ai-safety-engineering@mlcommons.org>"]
readme = "README.md"
packages = [
    { include = "coffee", from = "src"  }
]

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
newhelm = { version = "^0.3.2", extras = ["all_plugins"] }
jq = "^1.6.0"
click = "^8.1.7"
casefy = "^0.1.7"
termcolor = "^2.4.0"
pip = "^24.0"
jinja2 = "^3.1.3"
scipy = "^1.12.0"
retry = "^0.9.2"
tabulate = "^0.9.0"

[[tool.poetry.source]]
name = "mlcommons"
url = "https://us-central1-python.pkg.dev/ai-safety-dev/aisafety-pypi/simple"
priority = "primary"

[[tool.poetry.source]]
name = "PyPi"
priority = "explicit"

[tool.poetry.group.dev.dependencies]
pytest-datafiles = "^3.0.0"
pytest = "^8.0.1"
mypy = "^1.7.1"
black = "^24.3.0"
beautifulsoup4 = "^4.12.3"
types-beautifulsoup4 = "^4.12.0.20240229"

[tool.poetry.scripts]
coffee = "coffee.run:cli"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
pythonpath = [
    "src", "tests"
]
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120