a {
    text-decoration: none;
    color: #596C97;
}

h1, h2, h3, h4, .card-title {
    color: #596C97;
}

h1 {
    font-size: 375%;
}

.bg-darker {
    background-color: #F7F9FC;
}

button, .btn {
    background-color: #596C97 !important;
    color: #E1E5ED !important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.beta, .beta.btn:hover, .beta.btn:focus, .beta.btn:active {
    background-color: #F29828 !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #F29828 !important;
    border: 2px solid #F29828;
    background-color: #FFECD4 !important;
    letter-spacing: 1px;
    outline: none !important;
}

.star-span-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.star-span-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.dropdown-title-bar {
    background-color: #FAFCFE;
    color: #596C97
}

.light-text {
    color: #596C97
}

hr {
    width: 50px;
}

footer {
    font-size: 85%;
}

.navbar {
    background-color: #EFF2F8;
}

.btn-tiny {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.badge {
    background-color: #D1D8E6;
}

.btn-chevron {
    font-size: 12px !important;
}
