@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css");

[data-theme=light],
:root:not([data-theme=dark]) {
  --mlc-color-moonshadow: hsl(219 30% 47%);
  --mlc-color-moonshadow-50: hsl(210, 29%, 97%);
  --mlc-color-moonshadow-100: hsl(220, 30%, 92%);
  --mlc-color-moonshadow-150: hsl(220, 31%, 87%);
  --mlc-color-moonshadow-200: hsl(219, 30%, 82%);
  --mlc-color-moonshadow-250: hsl(219, 31%, 76%);
  --mlc-color-moonshadow-300: hsl(218, 30%, 71%);
  --mlc-color-moonshadow-350: hsl(219, 30%, 66%);
  --mlc-color-moonshadow-400: hsl(219, 30%, 61%);
  --mlc-color-moonshadow-450: hsl(219, 30%, 55%);
  --mlc-color-moonshadow-500: hsl(219, 30%, 50%);
  --mlc-color-moonshadow-550: hsl(219, 30%, 45%);
  --mlc-color-moonshadow-600: hsl(218, 30%, 39%);
  --mlc-color-moonshadow-650: hsl(219, 30%, 34%);
  --mlc-color-moonshadow-700: hsl(220, 30%, 29%);
  --mlc-color-moonshadow-750: hsl(218, 30%, 24%);
  --mlc-color-moonshadow-800: hsl(219, 30%, 18%);
  --mlc-color-moonshadow-850: hsl(217, 31%, 13%);
  --mlc-color-moonshadow-900: hsl(220, 30%, 8%);
  --mlc-color-moonshadow-950: hsl(225, 39%, 3%);

  --mlc-color-efficient-ember: hsl(33 89% 55%);
  --mlc-color-efficient-ember-50: hsl(35, 86%, 97%);
  --mlc-color-efficient-ember-100: hsl(33, 90%, 92%);
  --mlc-color-efficient-ember-150: hsl(33, 88%, 87%);
  --mlc-color-efficient-ember-200: hsl(33, 89%, 82%);
  --mlc-color-efficient-ember-250: hsl(33, 88%, 76%);
  --mlc-color-efficient-ember-300: hsl(33, 89%, 71%);
  --mlc-color-efficient-ember-350: hsl(33, 89%, 66%);
  --mlc-color-efficient-ember-400: hsl(33, 89%, 61%);
  --mlc-color-efficient-ember-450: hsl(33, 89%, 55%);
  --mlc-color-efficient-ember-500: hsl(33, 89%, 50%);
  --mlc-color-efficient-ember-550: hsl(33, 89%, 45%);
  --mlc-color-efficient-ember-600: hsl(33, 89%, 39%);
  --mlc-color-efficient-ember-650: hsl(33, 89%, 34%);
  --mlc-color-efficient-ember-700: hsl(33, 89%, 29%);
  --mlc-color-efficient-ember-750: hsl(33, 89%, 24%);
  --mlc-color-efficient-ember-800: hsl(33, 89%, 18%);
  --mlc-color-efficient-ember-850: hsl(34, 88%, 13%);
  --mlc-color-efficient-ember-900: hsl(33, 90%, 8%);
  --mlc-color-efficient-ember-950: hsl(30, 86%, 3%);

  --mlc-color-efficient-ember-score-light: hsl(33, 88%, 73%);
  --mlc-color-efficient-ember-score-lighter: hsl(33, 88%, 86%);

  --mlc-color-mighty-mint: hsl(135 44% 86%);
  --mlc-color-mighty-mint-50: hsl(140, 43%, 97%);
  --mlc-color-mighty-mint-100: hsl(133, 45%, 92%);
  --mlc-color-mighty-mint-150: hsl(134, 43%, 87%);
  --mlc-color-mighty-mint-200: hsl(136, 45%, 82%);
  --mlc-color-mighty-mint-250: hsl(135, 44%, 76%);
  --mlc-color-mighty-mint-300: hsl(135, 44%, 71%);
  --mlc-color-mighty-mint-350: hsl(136, 44%, 66%);
  --mlc-color-mighty-mint-400: hsl(135, 44%, 61%);
  --mlc-color-mighty-mint-450: hsl(135, 44%, 55%);
  --mlc-color-mighty-mint-500: hsl(135, 44%, 50%);
  --mlc-color-mighty-mint-550: hsl(135, 44%, 45%);
  --mlc-color-mighty-mint-600: hsl(136, 44%, 39%);
  --mlc-color-mighty-mint-650: hsl(135, 44%, 34%);
  --mlc-color-mighty-mint-700: hsl(136, 44%, 29%);
  --mlc-color-mighty-mint-750: hsl(135, 44%, 24%);
  --mlc-color-mighty-mint-800: hsl(136, 45%, 18%);
  --mlc-color-mighty-mint-850: hsl(134, 43%, 13%);
  --mlc-color-mighty-mint-900: hsl(137, 45%, 8%);
  --mlc-color-mighty-mint-950: hsl(130, 43%, 3%);

  --mlc-color-mighty-mint-score-lighter: hsl(136, 44%, 92%);
  --mlc-color-mighty-mint-score-light: hsl(135, 44%, 86%);

  --mlc-color-cloud-blue: hsl(218 48% 95%);
  --mlc-color-cloud-blue-50: hsl(220, 43%, 97%);
  --mlc-color-cloud-blue-100: hsl(219, 50%, 92%);
  --mlc-color-cloud-blue-150: hsl(218, 49%, 87%);
  --mlc-color-cloud-blue-200: hsl(218, 49%, 82%);
  --mlc-color-cloud-blue-250: hsl(218, 48%, 76%);
  --mlc-color-cloud-blue-300: hsl(218, 48%, 71%);
  --mlc-color-cloud-blue-350: hsl(218, 48%, 66%);
  --mlc-color-cloud-blue-400: hsl(218, 48%, 61%);
  --mlc-color-cloud-blue-450: hsl(218, 48%, 55%);
  --mlc-color-cloud-blue-500: hsl(218, 48%, 50%);
  --mlc-color-cloud-blue-550: hsl(218, 48%, 45%);
  --mlc-color-cloud-blue-600: hsl(218, 48%, 39%);
  --mlc-color-cloud-blue-650: hsl(218, 48%, 34%);
  --mlc-color-cloud-blue-700: hsl(218, 48%, 29%);
  --mlc-color-cloud-blue-750: hsl(217, 48%, 24%);
  --mlc-color-cloud-blue-800: hsl(218, 49%, 18%);
  --mlc-color-cloud-blue-850: hsl(218, 49%, 13%);
  --mlc-color-cloud-blue-900: hsl(216, 50%, 8%);
  --mlc-color-cloud-blue-950: hsl(214, 54%, 3%);

  --mlc-color-deep-web-blue: hsl(224 22% 26%);
  --mlc-color-base-black: hsl(226 35% 14%);

  --mlc-color-red: hsl(5, 81%, 61%);
  --mlc-color-orange: hsl(26, 95%, 58%);
  --mlc-color-yellow: hsl(45, 97%, 55%);
  --mlc-color-green: hsl(136, 42%, 49%);
  --mlc-color-blue: hsl(215, 67%, 51%);
}

/**
 * Reset for prefer dark mode
 */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=dark]) {
    --pico-background-color: #fff;
    --pico-color: #373c44;
    --pico-text-selection-color: rgba(2, 154, 232, 0.25);
    --pico-muted-color: #646b79;
    --pico-muted-border-color: #e7eaf0;
    --pico-primary: #0172ad;
    --pico-primary-background: #0172ad;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 114, 173, 0.5);
    --pico-primary-hover: #015887;
    --pico-primary-hover-background: #02659a;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(2, 154, 232, 0.5);
    --pico-primary-inverse: #fff;
    --pico-secondary: #5d6b89;
    --pico-secondary-background: #525f7a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(93, 107, 137, 0.5);
    --pico-secondary-hover: #48536b;
    --pico-secondary-hover-background: #48536b;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(93, 107, 137, 0.25);
    --pico-secondary-inverse: #fff;
    --pico-contrast: #181c25;
    --pico-contrast-background: #181c25;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(24, 28, 37, 0.5);
    --pico-contrast-hover: #000;
    --pico-contrast-hover-background: #000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-secondary-hover);
    --pico-contrast-focus: rgba(93, 107, 137, 0.25);
    --pico-contrast-inverse: #fff;
    --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024), 0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03), 0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036), 0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302), 0.5rem 1rem 6rem rgba(129, 145, 181, 0.06), 0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
    --pico-h1-color: #2d3138;
    --pico-h2-color: #373c44;
    --pico-h3-color: #424751;
    --pico-h4-color: #4d535e;
    --pico-h5-color: #5c6370;
    --pico-h6-color: #646b79;
    --pico-mark-background-color: #fde7c0;
    --pico-mark-color: #0f1114;
    --pico-ins-color: #1d6a54;
    --pico-del-color: #883935;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
    --pico-code-background-color: #f3f5f7;
    --pico-code-color: #646b79;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fbfcfc;
    --pico-form-element-selected-background-color: #dfe3eb;
    --pico-form-element-border-color: #cfd5e2;
    --pico-form-element-color: #23262c;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b86a6b;
    --pico-form-element-invalid-active-border-color: #c84f48;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4c9b8a;
    --pico-form-element-valid-active-border-color: #279977;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #bfc7d9;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #dfe3eb;
    --pico-range-active-border-color: #bfc7d9;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: var(--pico-background-color);
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #fbfcfc;
    --pico-dropdown-background-color: #fff;
    --pico-dropdown-border-color: #eff1f4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #eff1f4;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(232, 234, 237, 0.75);
    --pico-progress-background-color: #dfe3eb;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);
    --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 155, 138)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200, 79, 72)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    color-scheme: light;
  }
  [data-theme=light] input:is([type=submit],
  [type=button],
  [type=reset],
  [type=checkbox],
  [type=radio],
  [type=file]),
  :root:not([data-theme=dark]) input:is([type=submit],
  [type=button],
  [type=reset],
  [type=checkbox],
  [type=radio],
  [type=file]) {
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }
  /**
   * Only set for dark mode default in picocss
   */
  :root:not([data-theme]) details summary[role=button].contrast:not(.outline)::after {
    filter: brightness(1);
  }
  :root:not([data-theme]) [aria-busy=true]:not(input, select, textarea).contrast:is(button,
  [type=submit],
  [type=button],
  [type=reset],
  [role=button]):not(.outline)::before {
    filter: brightness(1);
  }
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-color: #343C52;
  --pico-text-selection-color: hsl(219 25% 90%);
  --pico-muted-color: hsl(216 45% 98%);
  --pico-muted-border-color: hsv(216 45% 98%);
  --pico-primary: var(--mlc-color-moonshadow);
  --pico-primary-background: var(--mlc-color-moonshadow);
  --pico-primary-underline: var(--pico-primary);
  --pico-primary-hover: hsl(219 25% 40%);
  --pico-primary-hover-background: hsl(219 25% 40%);
  --pico-primary-focus: rgba(84, 109, 156, 0.5);
  --pico-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.04);
  --pico-h1-color: var(--mlc-color-moonshadow);
  --pico-h2-color: var(--mlc-color-moonshadow);
  --pico-h3-color: var(--mlc-color-moonshadow);
  --pico-h4-color: var(--mlc-color-moonshadow);
  --pico-h5-color: var(--mlc-color-moonshadow);
  --pico-h6-color: var(--mlc-color-moonshadow);
  --pico-table-border-color: hsl(210, 14%, 89%);
  --pico-table-row-stripped-background-color: #fff;
  --pico-table-head-background-color: hsl(210, 67%, 99%);
  --pico-card-border-color: hsl(210 14% 87%);
  --pico-card-box-shadow: none;
  --pico-tooltip-background-color: var(--pico-primary-hover-background);
  color-scheme: light;
}

:root {
  --pico-font-family-sans-serif: "DM Sans", sans-serif, var(--pico-font-family-emoji);
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 768px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1024px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1536px) {
  :root {
    --pico-font-size: 100%;
  }
}

.pico a {
  --pico-text-decoration: none;
}

.pico a:hover:not([role=button]) {
  color: var(--pico-primary-hover);
}

.pico a.secondary, .pico a.contrast {
  --pico-text-decoration: none;
}

.pico h1,
.pico h2,
.pico h3,
.pico h4,
.pico h5,
.pico h6 {
  --pico-font-weight: 500;
}

.pico h1 {
  --pico-font-size: 3.5rem;
}

.pico .container,
.pico .mlc--container__embed {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pico .mlc--header {
  --pico-font-size: 3.5rem;
  --pico-line-height: 1.125;
  --pico-typography-spacing-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1.3rem;
}

.pico p.mlc--subheader {
  font-size: 1.5em;
  max-width: 100%;
}

@media (min-width: 768px) {
  .pico p.mlc--subheader {
    max-width: 80%;
  }
}

.pico nav[aria-label=breadcrumb] {
  --pico-nav-element-spacing-vertical: 0;
  --pico-nav-element-spacing-horizontal: 0.25rem;
  --pico-nav-link-spacing-vertical: 0.5rem;
  --pico-nav-link-spacing-horizontal: 0.25rem;
  --pico-nav-breadcrumb-divider: ">";
  flex-wrap: wrap;
}

.pico nav[aria-label=breadcrumb] ul {
  flex-wrap: wrap;
}

.pico nav[aria-label=breadcrumb] li,
.pico nav[aria-label=breadcrumb] li a {
  font-size: var(--pico-font-size);
  white-space: nowrap;
}

.pico nav[aria-label=breadcrumb] a:hover {
  --pico-text-decoration: none;
  
}

.pico nav[aria-label=breadcrumb] ul li:not(:last-child)::after {
  --pico-muted-color: #666;
}

.pico .mlc--id-version {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.pico .mlc--id-version li {
  white-space: nowrap;
  color: var(--mlc-color-moonshadow-light);
}

.pico .mlc--id-version li:not(:last-child)::after {
  content: "-";
  margin: 0 0.5rem;
}

.pico button,
.pico [type=submit],
.pico [type=button],
.pico [role=button] {
  --pico-border-radius: 0.33rem;
  --pico-form-element-spacing-vertical: 0.6rem;
  --pico-form-element-spacing-horizontal: 0.9rem;
  white-space: nowrap;
}

.pico .mlc--button__sm {
  --pico-border-radius: 0.33rem;
  --pico-form-element-spacing-vertical: 0.3rem;
  --pico-form-element-spacing-horizontal: 0.7rem;
}

.pico article {
  --pico-border-radius: 1rem;
  --pico-block-spacing-vertical: 2.6rem;
  --pico-block-spacing-horizontal: 3rem;
  margin-bottom: 3rem;
}

.pico article.mlc--card__no-padding {
  --pico-block-spacing-vertical: 0;
  --pico-block-spacing-horizontal: 0;
}

.pico article.mlc--card__border {
  border: 1px solid var(--pico-card-border-color);
}

.pico article.mlc--card__border--heavy {
  border: 2px solid var(--pico-card-border-color);
}

.pico article.mlc--card__box-shadow {
  box-shadow: var(--pico-box-shadow);
}

.pico article.mlc--card__muted-background {
  background-color: var(--pico-muted-color);
}

@media (min-width: 1024px) {
  .pico article.mlc--card__sut-card {
    display: flex;
    gap: 3rem;
  }
}

.pico article.mlc--card__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 576px) {
  .pico article.mlc--card__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .pico article.mlc--card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pico article .mlc--card__button-header {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .pico article .mlc--card__button-header {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.pico article .mlc--card__button-header [role=button] {
  margin-bottom: 1.5rem;
}

.pico article .mlc--card__button-header h2 {
  max-width: 100%;
}

@media (min-width: 576px) {
  .pico article .mlc--card__button-header h2 {
    max-width: 50%;
  }
}

.pico .mlc--section {
  --pico-grid-column-gap: 5rem;
  margin-bottom: 3rem !important;
}

.pico .mlc--section__topline {
  margin-bottom: 1.5rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pico .mlc--section__intro {
  display: block;
}

@media (min-width: 1024px) {
  .pico .mlc--section__intro {
    display: grid;
  }
}

.pico .mlc--section__header p:last-child {
  --pico-typography-spacing-vertical: 1.25rem;
}

.pico ul {
  --pico-typography-spacing-vertical: 0;
  margin: 0;
  padding: 0;
}

.pico ul li {
  list-style: none;
  margin-bottom: 0.4rem;
  line-height: 1.5;
}

.pico .mlc--grade-container {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.pico .mlc--grade-container__inline {
  position: relative;
  top: -3px;
  margin-right: 3px;
}

.pico .mlc--grade-container .star-span-sm {
  width: 20px;
}

.pico .mlc--grade-container .star-span-lg {
  width: 40px;
}

.pico .mlc--grade-description__grid {
  line-height: 1.25;
  margin-top: 0.5rem;
}

.pico .mlc--score-explanation {
  font-size: 1.25rem;
  line-height: 1.25;
}

.pico .mlc--test-detail-header {
  --pico-typography-spacing-vertical: 0;
}

.pico [data-tooltip]::after,
.pico [data-tooltip]::before,
.pico [data-tooltip][data-placement=top]::after,
.pico [data-tooltip][data-placement=top]::before {
  --pico-border-radius: 0.25rem;
}

.pico .mlc--provisional {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: var(--mlc-color-efficient-ember-150);
  color: var(--mlc-color-deep-web-blue);
  font-weight: 700;
  font-size: 1.25rem;
}

.pico .mlc--provisional img {
  width: 3.5rem;
  height: 3.5rem;
}

.pico .mlc--provisional__icon {
  margin-right: 0.5rem;
}

.pico .mlc--placeholder {
  background: rgba(255, 255, 0, 0.4);
}

.pico .mlc--placeholder__dynamic {
  background: rgba(20, 255, 38, 0.4);
}

.pico figure {
  border-radius: 1rem;
  border: 1px solid var(--pico-table-border-color);
}

.pico figure.mlc--table__box-shadow {
  box-shadow: var(--pico-box-shadow);
}

.pico table,
.pico thead,
.pico tbody,
.pico tr,
.pico th,
.pico th:first-child,
.pico th:last-child,
.pico td,
.pico td:first-child,
.pico td:last-child {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 100% !important;
  font: inherit !important;
  vertical-align: baseline !important;
  background-color: transparent !important;
}

.pico th:first-child {
  border-top-left-radius: 1rem !important;
}

.pico th:last-child {
  border-top-right-radius: 1rem !important;
}

.pico table {
  --pico-typography-spacing-vertical: 0;
}

.pico table thead {
  border-bottom: 1px solid var(--pico-table-border-color) !important;
  background-color: var(--pico-table-head-background-color) !important;
}

.pico table thead th,
.pico table thead th:first-child,
.pico table thead th:last-child {
  color: var(--pico-primary) !important;
  padding: 1.5rem !important;
}

.pico table td,
.pico table td:first-child,
.pico table td:last-child {
  padding: 1rem 1.5rem !important;
}

.pico table td.mlc--button-container__align-right {
  text-align: right !important;
}

.pico tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--pico-table-border-color) !important;
}

.pico .mlc--list-dashed__item {
  list-style-type: square;
}

.pico .mlc--test-response-percentage-bar-container {
  position: absolute;
  bottom: 4px;
  height: 10px;
  border-right: 2px solid var(--mlc-color-moonshadow-700);
  border-left: 2px solid var(--mlc-color-moonshadow-700);
  opacity: 0.7;
}

.pico .mlc--test-response-percentage-bar {
  width: 100%;
  background: var(--mlc-color-deep-web-blue);
  height: 2px;
  margin-top: 4px;
}

.pico .mlc--test-response-percentage-dot {
  position: absolute;
  bottom: -7px;
  width: 12px;
  height: 31px;
  background: var(--mlc-color-moonshadow-700);
  border-radius: 6px;
  border: 2px solid #fff;
}

.pico .mlc--test-response-percentage-dot .mlc--test-response-tooltip {
  display: block;
  z-index: 99;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  transform: translate(-50%, -0.25rem);
  border-radius: var(--pico-border-radius);
  border: 1px solid var(--mlc-color-cloud-blue-200);
  box-shadow: var(--pico-box-shadow);
  background: #fff;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  padding: 0.5rem 0.65rem;
}

.pico .mlc--test-response-percentage-dot:hover .mlc--test-response-tooltip {
  --pico-tooltip-slide-to: translate(-50%, -0.25rem);
  transform: translate(-50%, 0.75rem);
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-name: tooltip-slide;
  opacity: 0;
}

.pico .mlc--test-response-tooltip__header {
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--mlc-color-deep-web-blue);
}

.pico .mlc--test-response-tooltip__subheader {
  font-size: 0.75rem;
  color: var(--mlc-color-moonshadow-700);
}

.pico .mlc--test-score-bar {
  display: flex;
  width: 100%;
  column-gap: 5px;
  position: relative;
}

.pico .mlc--test-score-bar-title {
  color: var(--mlc-color-deep-web-blue);
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.pico .mlc--test-score-bar-section {
  height: 18px;
  border-radius: 9px;
}

.pico .mlc--test-score-legend {
  margin: 1.75rem;
}

@media (min-width: 576px) {
  .pico .mlc--test-score-legend {
    display: flex;
    flex-wrap: wrap;
    margin: 2.25rem auto 0 auto;
    gap: 1rem;
    column-gap: 4rem;
    justify-content: center;
  }
}

.pico .mlc--test-score-legend__item {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.pico .mlc--test-score-legend__item__label {
  color: var(--mlc-color-moonshadow);
  font-weight: 600;
}

.pico .mlc--test-score-legend__item__icon {
  padding: 5px 12px;
  border-radius: 15px;
  font-weight: 700;
  line-height: 1;
}

.pico .mlc--grade-background__1 {
  background: var(--mlc-color-efficient-ember-250);
}

.pico .mlc--grade-background__2 {
  background: var(--mlc-color-efficient-ember-150);
}

.pico .mlc--grade-background__3 {
  background: var(--mlc-color-moonshadow-100);
}

.pico .mlc--grade-background__4 {
  background: var(--mlc-color-mighty-mint-100);
}

.pico .mlc--grade-background__5 {
  background: var(--mlc-color-mighty-mint-150);
}

.pico .mlc--test-score-list__container {
  margin-top: 3rem;
}

.pico .mlc--test-score-list__item {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .pico .mlc--test-score-list__item {
    display: flex;
    align-items: baseline;
    gap: 3rem;
  }
}

.pico .mlc--test-score-list__item:not(:last-child) {
  border-bottom: 1px solid var(--pico-table-border-color);
  padding-bottom: 2rem;
}

.pico .mlc--test-score-list__item > div:first-child {
  width: 80%;
  font-size: 1.15rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

@media (min-width: 1024px) {
  .pico .mlc--test-score-list__item > div:first-child {
    width: 324px;
    line-height: 1.5;
  }
}

.pico .mlc--test-score-list__item > div:last-child {
  flex-grow: 1;
}

.pico .mlc--test-score-item__rank__container {
  white-space: nowrap;
}

.pico .mlc--test-score-item__rank {
  border-radius: 5px;
  font-weight: 700;
  padding: 3px 7px;
  display: inline-block;
  text-align: center;
}

.pico .mlc--test-score-item__rank--small {
  font-size: 0.65rem;
  width: 20px;
  padding: 3px;
}

.pico .mlc--test-score-item__explanation {
  display: none;
}

@media (min-width: 576px) {
  .pico .mlc--test-score-item__explanation {
    display: inline;
  }
}

.pico .mlc--test-score-item__prompts-tested {
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.65rem;
  padding: 3px 7px;
  display: inline-block;
  text-align: center;
  background: var(--mlc-color-moonshadow-100);
}

.pico .mlc--test-score-item__label {
  font-size: 0.75rem;
  color: var(--mlc-color-moonshadow);
  font-weight: 700;
  white-space: nowrap;
}

.pico .mlc--test-score-metadata {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}

.pico .mlc--test-score-metadata__item {
  display: flex;
  gap: 0.5rem;
  align-items: end;
}

.pico .mlc--table__ai-systems thead {
  display: none;
}

@media (min-width: 768px) {
  .pico .mlc--table__ai-systems thead {
    display: table-header-group;
  }
}

.pico .mlc--table__ai-systems th:nth-child(3),
.pico .mlc--table__ai-systems td:nth-child(3) {
  display: none;
}

@media (min-width: 1024px) {
  .pico .mlc--table__ai-systems th:nth-child(3),
  .pico .mlc--table__ai-systems td:nth-child(3) {
    display: table-cell;
  }
}

.pico .mlc--table__ai-systems .mlc--button-content {
  display: none;
}

@media (min-width: 1024px) {
  .pico .mlc--table__ai-systems .mlc--button-content {
    display: inline;
  }
}

.pico .mlc--table__sut-card th:nth-child(3),
.pico .mlc--table__sut-card td:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .pico .mlc--table__sut-card th:nth-child(3),
  .pico .mlc--table__sut-card td:nth-child(3) {
    display: table-cell;
  }
}

.pico .mlc--table__sut-card thead {
  display: none;
}

@media (min-width: 768px) {
  .pico .mlc--table__sut-card thead {
    display: table-header-group;
  }
}

.pico .mlc--table__test-runs thead {
  display: none;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs thead {
    display: table-header-group;
  }
}

.pico .mlc--table__test-runs tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs tr {
    display: table-row;
  }
}

.pico .mlc--table__test-runs td {
  display: block;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs td {
    display: table-cell;
  }
}

.pico .mlc--table__test-runs td:nth-child(1),
.pico .mlc--table__test-runs td:nth-child(3) {
  order: -1;
  width: 50%;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs td:nth-child(1),
  .pico .mlc--table__test-runs td:nth-child(3) {
    order: 0;
    width: auto;
  }
}

.pico .mlc--table__test-runs td:nth-child(3) {
  text-align: right;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs td:nth-child(3) {
    text-align: left;
  }
}

.pico .mlc--table__test-runs td:nth-child(2) {
  width: 100%;
}

@media (min-width: 768px) {
  .pico .mlc--table__test-runs td:nth-child(2) {
    width: 75%;
  }
}

.pico .mlc--interpret-ratings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.pico .mlc--interpret-ratings__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--mlc-color-deep-web-blue);
}

.pico .mlc--interpret-ratings__item--grid {
  width: 100%;
}

.pico .mlc--interpret-ratings__item--score {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .pico .mlc--interpret-ratings__item--score {
    max-width: 324px;
  }
}

@media (min-width: 1024px) {
  .pico .mlc--interpret-ratings__item--score {
    flex: 0 1 auto;
    margin-top: 0;
    margin-bottom: auto;
  }
}

.pico .mlc--interpret-ratings__item h1,
.pico .mlc--interpret-ratings__item h2,
.pico .mlc--interpret-ratings__item h3 {
  font-weight: 700;
  color: var(--mlc-color-deep-web-blue);
}

.pico .mlc--interpret-ratings__item h1 {
  margin-bottom: 1.75rem;
}

.pico .mlc--interpret-ratings__item h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.pico .mlc--interpret-ratings__item h3 {
  margin-bottom: 1.25rem;
}

.pico .mlc--interpret-ratings__item p {
  font-weight: 600;
  font-size: 1.15rem;
  color: var(--mlc-color-deep-web-blue);
  margin-top: auto;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .pico .mlc--sut-card__score-container {
    display: flex;
    column-gap: 1.5rem;
  }
}

.pico .mlc--sut-card__explanation {
  padding: 1rem;
}
