@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css");

[data-theme=light],
:root:not([data-theme=dark]) {
  --mlc-color-moonshadow: hsl(219 30% 47%);
  --mlc-color-efficient-ember: hsl(33 89% 55%);
  --mlc-color-mighty-mint: hsl(135 44% 86%);
  --mlc-color-cloud-blue: hsl(218 48% 95%);
  --mlc-color-deep-web-blue: hsl(224 22% 26%);
  --mlc-color-base-black: hsl(226 35% 14%);
}

/**
 * Reset for prefer dark mode
 */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=dark]) {
    --pico-background-color: #fff;
    --pico-color: #373c44;
    --pico-text-selection-color: rgba(2, 154, 232, 0.25);
    --pico-muted-color: #646b79;
    --pico-muted-border-color: #e7eaf0;
    --pico-primary: #0172ad;
    --pico-primary-background: #0172ad;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 114, 173, 0.5);
    --pico-primary-hover: #015887;
    --pico-primary-hover-background: #02659a;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(2, 154, 232, 0.5);
    --pico-primary-inverse: #fff;
    --pico-secondary: #5d6b89;
    --pico-secondary-background: #525f7a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(93, 107, 137, 0.5);
    --pico-secondary-hover: #48536b;
    --pico-secondary-hover-background: #48536b;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(93, 107, 137, 0.25);
    --pico-secondary-inverse: #fff;
    --pico-contrast: #181c25;
    --pico-contrast-background: #181c25;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(24, 28, 37, 0.5);
    --pico-contrast-hover: #000;
    --pico-contrast-hover-background: #000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-secondary-hover);
    --pico-contrast-focus: rgba(93, 107, 137, 0.25);
    --pico-contrast-inverse: #fff;
    --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024), 0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03), 0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036), 0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302), 0.5rem 1rem 6rem rgba(129, 145, 181, 0.06), 0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
    --pico-h1-color: #2d3138;
    --pico-h2-color: #373c44;
    --pico-h3-color: #424751;
    --pico-h4-color: #4d535e;
    --pico-h5-color: #5c6370;
    --pico-h6-color: #646b79;
    --pico-mark-background-color: #fde7c0;
    --pico-mark-color: #0f1114;
    --pico-ins-color: #1d6a54;
    --pico-del-color: #883935;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
    --pico-code-background-color: #f3f5f7;
    --pico-code-color: #646b79;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fbfcfc;
    --pico-form-element-selected-background-color: #dfe3eb;
    --pico-form-element-border-color: #cfd5e2;
    --pico-form-element-color: #23262c;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b86a6b;
    --pico-form-element-invalid-active-border-color: #c84f48;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4c9b8a;
    --pico-form-element-valid-active-border-color: #279977;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #bfc7d9;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #dfe3eb;
    --pico-range-active-border-color: #bfc7d9;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: var(--pico-background-color);
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #fbfcfc;
    --pico-dropdown-background-color: #fff;
    --pico-dropdown-border-color: #eff1f4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #eff1f4;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(232, 234, 237, 0.75);
    --pico-progress-background-color: #dfe3eb;
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);
    --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 155, 138)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200, 79, 72)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    color-scheme: light;
  }
  [data-theme=light] input:is([type=submit],
  [type=button],
  [type=reset],
  [type=checkbox],
  [type=radio],
  [type=file]),
  :root:not([data-theme=dark]) input:is([type=submit],
  [type=button],
  [type=reset],
  [type=checkbox],
  [type=radio],
  [type=file]) {
    --pico-form-element-focus-color: var(--pico-primary-focus);
  }
  /**
   * Only set for dark mode default in picocss
   */
  :root:not([data-theme]) details summary[role=button].contrast:not(.outline)::after {
    filter: brightness(1);
  }
  :root:not([data-theme]) [aria-busy=true]:not(input, select, textarea).contrast:is(button,
  [type=submit],
  [type=button],
  [type=reset],
  [role=button]):not(.outline)::before {
    filter: brightness(1);
  }
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-color: #343C52;
  --pico-text-selection-color: hsl(219 25% 90%);
  --pico-muted-color: hsl(216 45% 98%);
  --pico-muted-border-color: hsv(216 45% 98%);
  --pico-primary: var(--mlc-color-moonshadow);
  --pico-primary-background: var(--mlc-color-moonshadow);
  --pico-primary-underline: var(--pico-primary);
  --pico-primary-hover: hsl(219 25% 40%);
  --pico-primary-hover-background: hsl(219 25% 40%);
  --pico-primary-focus: rgba(84, 109, 156, 0.5);
  --pico-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.04);
  --pico-h1-color: var(--mlc-color-moonshadow);
  --pico-h2-color: var(--mlc-color-moonshadow);
  --pico-h3-color: var(--mlc-color-moonshadow);
  --pico-h4-color: var(--mlc-color-moonshadow);
  --pico-h5-color: var(--mlc-color-moonshadow);
  --pico-h6-color: var(--mlc-color-moonshadow);
  --pico-table-border-color: hsl(210, 14%, 89%);
  --pico-table-row-stripped-background-color: #fff;
  --pico-table-head-background-color: hsl(210, 67%, 99%);
  --pico-card-border-color: hsl(210 14% 87%);
  --pico-card-box-shadow: none;
  --pico-tooltip-background-color: var(--pico-primary-hover-background);
  color-scheme: light;
}

:root {
  --pico-font-family-sans-serif: "DM Sans", sans-serif, var(--pico-font-family-emoji);
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 768px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1024px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1536px) {
  :root {
    --pico-font-size: 100%;
  }
}

.pico a {
  --pico-text-decoration: none;
}

.pico a:hover:not([role=button]) {
  color: var(--pico-primary-hover);
}

.pico a.secondary, .pico a.contrast {
  --pico-text-decoration: none;
}

.pico h1,
.pico h2,
.pico h3,
.pico h4,
.pico h5,
.pico h6 {
  --pico-font-weight: 500;
}

.pico h1 {
  --pico-font-size: 3.5rem;
}

.pico .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pico .mlc--header {
  --pico-font-size: 3.5rem;
  --pico-line-height: 1.125;
  --pico-typography-spacing-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1.3rem;
}

.pico p.mlc--subheader {
  font-size: 1.5em;
  max-width: 100%;
}

@media (min-width: 768px) {
  .pico p.mlc--subheader {
    max-width: 80%;
  }
}

.pico nav[aria-label=breadcrumb] {
  --pico-nav-element-spacing-vertical: 0;
  --pico-nav-element-spacing-horizontal: 0.25rem;
  --pico-nav-link-spacing-vertical: 0.5rem;
  --pico-nav-link-spacing-horizontal: 0.25rem;
  --pico-nav-breadcrumb-divider: ">";
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.pico nav[aria-label=breadcrumb] ul {
  flex-wrap: wrap;
}

.pico nav[aria-label=breadcrumb] li,
.pico nav[aria-label=breadcrumb] li a {
  font-size: var(--pico-font-size);
  white-space: nowrap;
}

.pico nav[aria-label=breadcrumb] a:hover {
  --pico-text-decoration: none;
  
}

.pico nav[aria-label=breadcrumb] ul li:not(:last-child)::after {
  --pico-muted-color: #666;
}

.pico button,
.pico [type=submit],
.pico [type=button],
.pico [role=button] {
  --pico-border-radius: 0.33rem;
  --pico-form-element-spacing-vertical: 0.6rem;
  --pico-form-element-spacing-horizontal: 0.9rem;
  white-space: nowrap;
}

.pico .mlc--button__sm {
  --pico-border-radius: 0.33rem;
  --pico-form-element-spacing-vertical: 0.3rem;
  --pico-form-element-spacing-horizontal: 0.7rem;
}

.pico article {
  --pico-border-radius: 1rem;
  --pico-block-spacing-vertical: 3rem;
  --pico-block-spacing-horizontal: 3rem;
}

.pico article.mlc--card__border {
  border: 1px solid var(--pico-card-border-color);
}

.pico article.mlc--card__border--heavy {
  border: 2px solid var(--pico-card-border-color);
}

.pico article.mlc--card__box-shadow {
  box-shadow: var(--pico-box-shadow);
}

.pico article.mlc--card__muted-background {
  background-color: var(--pico-muted-color);
}


.pico article.mlc--card__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 576px) {
  .pico article.mlc--card__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .pico article.mlc--card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pico article .mlc--card__button-header {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .pico article .mlc--card__button-header {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.pico article .mlc--card__button-header [role=button] {
  margin-bottom: 1.5rem;
}

.pico article .mlc--card__button-header h2 {
  max-width: 100%;
}

@media (min-width: 576px) {
  .pico article .mlc--card__button-header h2 {
    max-width: 50%;
  }
}

.pico .mlc--section {
  --pico-grid-column-gap: 5rem;
  margin-bottom: 3rem !important;
}

.pico .mlc--section__header p:last-child {
  --pico-typography-spacing-vertical: 1.25rem;
}

.pico ul {
  --pico-typography-spacing-vertical: 0;
  margin: 0;
  padding: 0;
}

.pico ul li {
  list-style: none;
  margin-bottom: 0.4rem;
  line-height: 1.5;
}

.pico .mlc--stars-container {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.pico .mlc--stars-container__inline {
  position: relative;
  top: -3px;
  margin-right: 3px;
}

.pico .mlc--stars-container .star-span-sm {
  width: 20px;
}

.pico .mlc--stars-container .star-span-lg {
  width: 40px;
}

.pico .mlc--stars-description__grid {
  line-height: 1.25;
  margin-top: 0.5rem;
}

.pico .mlc--score-explanation {
  font-size: 1.25rem;
  line-height: 1.25;
}

.pico .mlc--test-detail-header {
  --pico-typography-spacing-vertical: 0;
}

.pico [data-tooltip]::after,
.pico [data-tooltip]::before,
.pico [data-tooltip][data-placement=top]::after,
.pico [data-tooltip][data-placement=top]::before {
  --pico-border-radius: 0.25rem;
}

.pico [data-tooltip].mlc--tooltip-info {
  border: 1.5px solid var(--pico-primary);
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: inline-grid;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

.pico .mlc--tooltip-info-content {
  place-self: center;
  font-style: italic;
  font-size: 12px;
  line-height: 1;
}

.pico .mlc--provisional {
  color: var(--mlc-color-efficient-ember);
  font-size: 1rem;
  border: 2px solid var(--mlc-color-efficient-ember);
  background-color: hsl(33 85% 95%);
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
}

.pico .mlc--placeholder {
  background: rgba(255, 255, 0, 0.4);
}

.pico figure {
  border-radius: 1rem;
  border: 1px solid var(--pico-table-border-color);
}

.pico figure.mlc--table__box-shadow {
  box-shadow: var(--pico-box-shadow);
}

.pico table,
.pico thead,
.pico tbody,
.pico tr,
.pico th,
.pico th:first-child,
.pico th:last-child,
.pico td,
.pico td:first-child,
.pico td:last-child {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 100% !important;
  font: inherit !important;
  vertical-align: baseline !important;
  background-color: transparent !important;
}

.pico th:first-child {
  border-top-left-radius: 1rem !important;
}

.pico th:last-child {
  border-top-right-radius: 1rem !important;
}

.pico table {
  --pico-typography-spacing-vertical: 0;
}

.pico table thead {
  border-bottom: 1px solid var(--pico-table-border-color) !important;
  background-color: var(--pico-table-head-background-color) !important;
}

.pico table thead th,
.pico table thead th:first-child,
.pico table thead th:last-child {
  color: var(--pico-primary) !important;
  padding: 1.5rem !important;
}

.pico table td,
.pico table td:first-child,
.pico table td:last-child {
  padding: 1rem 1.5rem !important;
}

.pico table td.mlc--button-container__align-right {
  text-align: right !important;
}

.pico tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--pico-table-border-color) !important;
}
