{% macro interpret_safety_ratings() -%}
    <div class="mlc--section__header">
        <h2>How to Interpret Safety Ratings?</h2>
        <p class="mlc--placeholder">
            {{ content("general", "interpret_safety_ratings") }}
        </p>
    </div>

    <ul class="mlc--interpret-ratings">
      <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--below">
          <h2>R-</h2>
          <h3>Below Reference</h3>
          <p>Description goes here lorem ipsum dolor sit amet dolor ipsum</p>
      </li>
      <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--exceeds">
          <h2>R+</h2>
          <h3>Exceeds Reference</h3>
          <p>Description goes here lorem ipsum dolor sit amet dolor ipsum</p>
      </li>
      <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--similar">
          <h2>R</h2>
          <h3>Similar to Reference</h3>
          <p>Description goes here lorem ipsum dolor sit amet dolor ipsum</p>
      </li>
      <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--near-human">
          <h2>NH</h2>
          <h3>Near Human</h3>
          <p>Description goes here lorem ipsum dolor sit amet dolor ipsum</p>
      </li>
    </ul>
{%- endmacro %}
