{% macro interpret_safety_ratings() -%}
    <div class="mlc--section__header">
        <h2>How to Interpret Safety Ratings?</h2>
        <p class="mlc--placeholder">
            {{ content("general", "interpret_safety_ratings") }}
        </p>
    </div>

    <ul class="mlc--interpret-ratings">
        <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--grid mlc--grade-background__1">
            <h2>{{ content("grades", "1")["rank"] }}</h2>
            <h3>{{ content("grades", "1")["explanation"] }}</h3>
            <p>{{ content("grades", "1")["long_description"] }}</p>
        </li>
        <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--grid mlc--grade-background__2">
            <h2>{{ content("grades", "2")["rank"] }}</h2>
            <h3>{{ content("grades", "2")["explanation"] }}</h3>
            <p>{{ content("grades", "2")["long_description"] }}</p>
        </li>
        <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--grid mlc--grade-background__3">
            <h2>{{ content("grades", "3")["rank"] }}</h2>
            <h3>{{ content("grades", "3")["explanation"] }}</h3>
            <p>{{ content("grades", "3")["long_description"] }}</h3>
        </li>
        <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--grid mlc--grade-background__4">
            <h2>{{ content("grades", "4")["rank"] }}</h2>
            <h3>{{ content("grades", "4")["explanation"] }}</h3>
            <p>{{ content("grades", "4")["long_description"] }}</p>
        </li>
        <li class="mlc--interpret-ratings__item mlc--interpret-ratings__item--grid mlc--grade-background__5">
            <h2>{{ content("grades", "5")["rank"] }}</h2>
            <h3>{{ content("grades", "5")["explanation"] }}</h3>
            <p>{{ content("grades", "5")["long_description"] }}</p>
        </li>
    </ul>
{%- endmacro %}
