{% macro sut_card(benchmark_score) -%}
    <article class="mlc--card__no-padding mlc--card__sut-card">
        <div class="mlc--interpret-ratings__item mlc--interpret-ratings__item--score mlc--grade-background__{{ benchmark_score.numeric_grade() | string }}">
            <h1>{{ content("grades", benchmark_score.numeric_grade() | string)["rank"] }}</h1>
            <h3>{{ content("grades", benchmark_score.numeric_grade() | string)["explanation"] }}</h3>
            <p>{{ content("grades", benchmark_score.numeric_grade() | string)["long_description"] }}</p>
        </div>
        <figure class="overflow-auto mlc--table__sut-card mlc--table__box-shadow">
            <table>
                <thead>
                    <tr>
                        <th>Hazard</th>
                        <th>Average Safety Rating</th>
                        <th>Explanation</th>
                    </tr>
                </thead>
                <tbody>
                {% for hazard_score in benchmark_score.hazard_scores %}
                    <tr>
                        <td>{{ content(hazard_score.hazard_definition, "name") }}</td>
                        <td>
                            <div class="mlc--test-score-item__rank__container">
                                <span class="mlc--test-score-item__rank mlc--grade-background__{{ hazard_score.numeric_grade() | string }}">{{ content("grades", hazard_score.numeric_grade() | string)["rank"] }}</span>
                                <span class="mlc--test-score-item__explanation">{{ content("grades", hazard_score.numeric_grade() | string)["explanation"] }}</span>
                            </div>
                        </td>
                        <td><span class="mlc--placeholder">{{ content("grades", hazard_score.numeric_grade() | string)["short_description"] }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </figure>
    </article>
{%- endmacro %}
