{% macro sut_card(benchmark_score, stars_description) %}
    <article class="mlc--card__border--heavy">
        <div class="grid">
            <div>
                <h2>{{ content("stars", benchmark_score.stars() | round | int | string)["rank"] }}</h2>
                <div class="mlc--stars-container">
                    {{ benchmark_score.stars() | display_stars("lg") }}
                </div>
            </div>
            <div>
                <h4>What does '{{ content("stars", benchmark_score.stars() | round | int | string)["rank"] }}' mean?</h4>
                <p class="mlc--score-explanation">{{ content("stars", benchmark_score.stars() | round | int | string)['long_description'] }}</p>
                <p><a href="#benchmark-legend">Learn more</a></p>
            </div>
        </div>
        <figure class="overflow-auto">
            <table>
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>Rating</th>
                        <th>Explanation</th>
                    </th>
                </thead>
                <tbody>
                {% for hazard_score in benchmark_score.hazard_scores %}
                    <tr>
                        <td>{{ content(hazard_score.hazard_definition(), "name") }}</td>
                        <td>
                            <span class="mlc--stars-container mlc--stars-container__inline">{{ hazard_score.stars() | display_stars("sm") }}</span>
                            <span>{{ content("stars", hazard_score.stars() | round | int | string)["rank"] }}</span>
                        </td>
                        <td>{{ content("stars", hazard_score.stars() | round | int | string)["explanation"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </figure>
    </article>
{%- endmacro %}
