{% macro use_harms_limitations(benchmark_definition) %}
  <div class="row text-start mb-5">
      <div class="col">
          <h2>Use Case</h2>
          <p data-mlcedit="use-case-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore quis nostrud exercitation ullamco laboris magna aliqua.</p>
          <ul class="list-group">
              <li class="list-group-item border-0 p-0 pb-1"><strong>Application:</strong> Lorem ipsum dolor sit
                  amet
              </li>
              <li class="list-group-item border-0 p-0 pb-1"><strong>User:</strong> General Public</li>
              <li class="list-group-item border-0 p-0 pb-1"><strong>Region:</strong> North America, Canada</li>
          </ul>

      </div>
      <div class="col-2"></div>
      <div class="col">
          <h2>Harms Tested</h2>
          <p data-mlcedit="harms-tested-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore quis nostrud exercitation ullamco laboris magna aliqua.</p>
          <ul class="list-group">
              {% for harm in benchmark_definition.harms() %}
                  <li class="list-group-item border-0 p-0 pb-1"><strong>{{ harm.name() }}:</strong> Explanation of
                      harm goes here
                  </li>
              {% endfor %}
          </ul>

      </div>
  </div>

  <div class="card px-5 border-0 rounded-4 bg-darker text-start">
      <h3 class="mb-3 mt-5">
          Limitations
      </h3>
      <ul class="list-group mb-5">
          <li class="list-group-item bg-darker border-0 p-0 pb-1"><strong>Tests are not comprehensive:</strong>
            <span data-mlcedit="limitations-not-comprehensive">
                Explain what this means in a line here lorem ipsum
                dolor sit amet.
            </span>
          </li>
          <li class="list-group-item bg-darker border-0 p-0 pb-1"><strong>This is not a production
              testing:</strong>
              <span data-mlcedit="limitations-not-production">
                  Explain what this means in a line here lorem ipsum
                  dolor sit amet.
              </span>
          </li>
      </ul>
  </div>
{%- endmacro %}
