{% macro breadcrumb(benchmark_run, benchmark_path_name, page_type, view_embed) -%}
    <nav aria-label="breadcrumb">
        <ul>
            {% if not view_embed %}
              <li><a href="{{ root_path() }}">MLCommons</a></li>
            {% endif %}
            {% if page_type == "benchmarks" %}
              <li>Benchmarks</li>
            {% else %}
              <li><a href="{{ benchmarks_path(page_type=page_type) }}">Benchmarks</a></li>
            {% endif %}
            {% if benchmark_run %}
                <li>
                    <a href="{{ benchmark_path(benchmark_path_name, page_type=page_type) }}">{{ content(benchmark_path_name, "name") }}</a>
                </li>
                <li>{{ content(benchmark_run.sut_uid, "name") }} Report</li>
            {% elif benchmark_path_name %}
                <li>{{ content(benchmark_path_name, "name") }}</li>
            {% endif %}
        </ul>
    </nav>
{%- endmacro %}
