name: Python Application

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Scheduled Testing

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      run: pipx install uv

    - name: Check lock file and sync dependencies
      run: uv sync --group dev --frozen

    - name: Lint formatting
      run: uv run black --check .

    - name: Test with pytest
      run: uv run pytest

    - name: Run mypy
      run: uv run mypy --follow-imports silent --exclude modelbench src/modelgauge
