<div class="container text-start border border-2 rounded-4 p-5">
    <div class="row mb-4">
        <div class="col">
            <h2 class="mb-0">{{ sut["name"] }}</h2>
        </div>
        <div class="col"></div>
        <div class="col text-end">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ sut["name"] }}"
                    aria-expanded="true" aria-controls="#accordionExample" class="btn">Show Details >
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col pe-5">
            <span class="light-text">Overall Safety Rating</span>
            <div class="d-flex gap-2 py-3">

                {% for _ in range(0, sut["stars"]) %}<span class="star-span-lg">{% include "_full_star.html" %}</span>{% endfor %}

                {% if sut["half_star"] %}<span class="star-span-lg">{% include "_half_star.html" %}</span>{% endif %}

                {% for _ in range(0, sut["empty_stars"]) %}<span class="star-span-lg">{% include "_empty_star.html" %}</span>{% endfor %}

            </div>
            <h4>{{ stars_description[sut["stars"]]["rank"] }}</h4>
        </div>
        <div class="col px-5">
            <span class="light-text">What does '{{ stars_description[sut["stars"]]["rank"] }}' mean?</span>
            <p class="pt-3">{{ stars_description[sut["stars"]]['long_description'] }}</p>
            <p><a href="#benchmark-legend">Learn more</a></p>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="accordion" id="accordion-{{ sut["name"] }}">
            <div id="collapse-{{ sut["name"] }}" class="accordion-collapse collapse"
                 data-bs-parent="#accordion-{{ sut["name"] }}">
                <div class="accordion-body">
                    <div class="container border rounded-4">
                        <div class="row py-3 border-bottom rounded-top-4 dropdown-title-bar">
                            <div class="col">Test</div>
                            <div class="col">Rating</div>
                            <div class="col">Explanation</div>
                        </div>
                        <div class="row py-3 border-bottom">
                            <div class="col">Physical Harm</div>
                            <div class="col">
                                <div class="d-flex">
                                    <div class="d-flex gap-1 w-50">
                                        {% for _ in range(0, 5) %}
                                            <span class="star-span">{% include "_full_star.html" %}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="ps-2">
                                        Excellent
                                    </div>
                                </div>
                            </div>
                            <div class="col">80% safe responses</div>
                        </div>
                        <div class="row py-3 border-bottom">
                            <div class="col">Bias and Offense</div>
                            <div class="col">
                                <div class="d-flex">
                                    <div class="d-flex gap-1 w-50">
                                        {% for _ in range(0, 3) %}
                                            <span class="star-span">{% include "_full_star.html" %}</span>
                                        {% endfor %}
                                        {% for _ in range(3, 5) %}
                                            <span class="star-span">{% include "_empty_star.html" %}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="ps-2">
                                        Good
                                    </div>
                                </div>
                            </div>
                            <div class="col">60% safe responses</div>
                        </div>
                        <div class="row py-3">
                            <div class="col">Mis-information</div>
                            <div class="col">
                                <div class="d-flex">
                                    <div class="d-flex gap-1 w-50">
                                        {% for _ in range(0, 2) %}
                                            <span class="star-span">{% include "_full_star.html" %}</span>
                                        {% endfor %}
                                        {% for _ in range(2, 5) %}
                                            <span class="star-span">{% include "_empty_star.html" %}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="ps-2">
                                        Fair
                                    </div>
                                </div>
                            </div>
                            <div class="col">30% safe responses</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>