<ul class="mlc--test-score-legend">
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--dot"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>Test Result Safe Response (%)</strong>
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--red-block"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>R-</strong> Below reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--yellow-block"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>R+</strong> Exceeds reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--line"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>Test Result Error Bar</strong>
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--orange-block"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>R</strong> Similar to reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--green-block"></div>
        <div class="mlc--test-score-legend__item__label">
            <strong>NH</strong> Near Human
        </div>
    </li>
</ul>
