<ul class="mlc--test-score-legend">
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--below-block">
            R-
        </div>
        <div class="mlc--test-score-legend__item__label">
            Below reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--exceeds-block">
            R+
        </div>
        <div class="mlc--test-score-legend__item__label">
            Exceeds reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--similar-block">
            R
        </div>
        <div class="mlc--test-score-legend__item__label">
            Similar to reference
        </div>
    </li>
    <li class="mlc--test-score-legend__item">
        <div class="mlc--test-score-legend__item__icon mlc--test-score-legend__item__icon--near-human-block">
            NH
        </div>
        <div class="mlc--test-score-legend__item__label">
            Human
        </div>
    </li>
</ul>
