{% if not view_embed %}
<!doctype html>
<html lang="en" style="font-size: 16px;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,600,700,i,b">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
{% endif %}

<div class="pico mlc-ais">
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
</div>

{% if not view_embed %}
</body>
</html>
{% endif %}
