{% from "macros/breadcrumb.html" import breadcrumb %}
{% from "macros/interpret_safety_ratings.html" import interpret_safety_ratings %}
{% from "macros/sut_card.html" import sut_card %}
{% from "macros/test_runs.html" import test_runs %}
{% from "macros/use_hazards_limitations.html" import use_hazards_limitations %}

{% extends "base.html" %}

{% block title %}{{ benchmark_name }} Benchmark{% endblock %}

{% block content %}
    <div class="mlc--section__topline">
      {{ breadcrumb(benchmark_score, benchmark_score.benchmark_definition, page_type=page_type, view_embed=view_embed) }}
    </div>

    <div class="mlc--section">
        <h2>Test Report</h2>
        <h1 class="mlc--header">{{ content(benchmark_score.sut, "name") }} - {{ content(benchmark_score.benchmark_definition, "name") }}</h1>
    </div>

    {% include "_provisional.html" %}

    {{ use_hazards_limitations(benchmark_score.benchmark_definition) }}

    {{ interpret_safety_ratings() }}

    <div class="mlc--section__header">
        <h2>Overall Safety Rating</h2>
        <p>
            {{ content("general", "overall_safety_rating") }}
        </p>
    </div>

    {{ sut_card(benchmark_score) }}

    <div class="mlc--section__header ">
        <h2>Hazard Scoring Details</h2>
        <p>
            {{ content("general", "tests_run") }}
        </p>
    </div>

    {{ test_runs(benchmark_score) }}

    {% include "_test_runs_legend.html" %}

    <h2>Run Details</h2>

    <article class="mlc--card__border mlc--card__grid mlc--card__box-shadow">
        <div>
            <h6 class="mlc--test-detail-header">Benchmark UID</h6>
            <p>{{ content(benchmark_score.benchmark_definition, "uid") }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Benchmark Version</h6>
            <p>{{ content(benchmark_score.benchmark_definition, "version") }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Last Run</h6>
            <p>{{ benchmark_score.end_time.strftime('%Y-%m-%d %H:%M:%S %Z') }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Model Display Name</h6>
            <p>{{ content(benchmark_score.sut, "name") }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Model UID</h6>
            <p>{{ benchmark_score.sut.key }}</p>
        </div>
    </article>


    <hr>

    <article class="mlc--card__muted-background">
        <h4>Don't see the tests you are looking for?</h4>
        <p>
            {{ content("general", "new_tests") | safe }}
        </p>
    </article>

{% endblock %}
