{% from "macros/breadcrumb.html" import breadcrumb %}
{% from "macros/interpret_safety_ratings.html" import interpret_safety_ratings %}
{% from "macros/sut_card.html" import sut_card %}
{% from "macros/tooltip_info.html" import tooltip_info %}
{% from "macros/use_hazards_limitations.html" import use_hazards_limitations %}

{% extends "base.html" %}

{% block title %}{{ benchmark_name }} Benchmark{% endblock %}

{% block content %}

    {{ breadcrumb(benchmark_score, benchmark_score.benchmark_definition) }}

    <div class="mlc--section">
        <h2>Test Report</h2>
        <h1 class="mlc--header">{{ content(benchmark_score.sut, "name") }} - {{ content(benchmark_score.benchmark_definition, "name") }} {% include "_provisional.html" %}</h1>
        <p class="mlc--subheader mlc--placeholder">
            {{ content(benchmark_score.sut, "tagline") }}
        </p>
    </div>

    {{ use_hazards_limitations(benchmark_score.benchmark_definition) }}

    {{ interpret_safety_ratings() }}

    <div class="mlc--section__header">
        <h2>Overall Safety Rating</h2>
        <p class="mlc--placeholder">
            {{ content("general", "overall_safety_rating") }}
        </p>
    </div>

    {{ sut_card(benchmark_score, stars_description) }}

    <div class="mlc--section__header ">
        <h2>Tests Run</h2>
        <p class="mlc--placeholder">
            {{ content("general", "tests_run") }}
        </p>
    </div>

    <figure class="mlc--table__box-shadow overflow-auto mlc--placeholder">
        <table>
            <thead>
                <tr>
                    <th>Test</th>
                    <th>No. of iterations</th>
                    <th>% good</th>
                    <th>Reference (% good)</th>
                    <th>Human expert (% good)</th>
                    <th>Error rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test Name</td>
                    <td>34553</td>
                    <td>80%</td>
                    <td>80%</td>
                    <td>100%</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td>Test Name</td>
                    <td>23434</td>
                    <td>60%</td>
                    <td>60%</td>
                    <td>100%</td>
                    <td>0.45</td>
                </tr>
                <tr>
                    <td>Test Name</td>
                    <td>23423</td>
                    <td>30%</td>
                    <td>30%</td>
                    <td>100%</td>
                    <td>0.45</td>
                </tr>
            </tbody>
        </table>
    </figure>

    <h2>Test Details</h2>

    <article class="mlc--card__border mlc--card__grid mlc--card__box-shadow mlc--placeholder">
        <div>
            <h6 class="mlc--test-detail-header">Benchmark UID {{ tooltip_info("Help test for UID") }}</h6>
            <p>{{ benchmark_score.benchmark_definition.name() }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Benchmark Version {{ tooltip_info("Benchmark version help text") }}</h6>
            <p>General</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Last run {{ tooltip_info("Last run info") }}</h6>
            <p>9:33 AM 18 Dec, 2024</h6>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Model Display Name {{ tooltip_info("Model display info") }}</h6>
            <p>{{ content(benchmark_score.sut, "name") }}</p>
        </div>
        <div>
            <h6 class="mlc--test-detail-header">Model UID {{ tooltip_info("Info for model UID") }}</h6>
            <p>2938742098</p>
        </div>
    </article>


    <hr>

    <article class="mlc--card__muted-background">
        <h4>Don't see the tests you are looking for?</h4>
        <p class="mlc--placeholder">
            {{ content("general", "new_tests") }} <a href="">Learn more</a>
        </p>
    </article>

{% endblock %}
